.calendar-container {
    width: 80%;
    margin: 30px auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(54, 54, 55, 0.196);
    padding: 20px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.nav-btn {
    background-color: #003049;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-btn:hover {
    background-color: #CF9E3E;
}

.calendar-body {
    display: flex;
    flex-direction: column;
}

.days-of-week {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 10px;
    color: #003049;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.day {
    background-color: #e4f0f5; /* Azul suave para los días */
    color: #003049;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.day:hover {
    background-color: #003049; /* Azul oscuro cuando se pasa el mouse */
    color: white;
}

.available-hours .hour {
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
    border: 1px dashed #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.available-hours .hour.completed {
    background-color: #F3E6CD;
    cursor: not-allowed;
}

.available-hours .hour.pending {
    background-color: #DFE6E9;
}

/* CSS para el área seleccionada */
.available-hours .hour.selected {
    background-color: #E7F1F6;
}
/* Estilo del modal */
#availabilityModal {
    position: absolute;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    z-index: 99999999999999;
    padding: 20px;
    display: none;
    height: auto;
    max-width: 400px;
    transform: translateY(-20px); /* Ajuste para posicionar el modal más cerca del área seleccionada */
}

#availabilityModal .modal-content {
    padding: 20px;
    position: relative;
    border: none;
}

#availabilityModal .close {
    font-size: 20px;
    cursor: pointer;
    color: #003049;
    position: absolute;
    top: 10px;
    right: 10px;
}

#availabilityModal .close:hover {
    color: #CF9E3E;
}

#availabilityModal h3 {
    margin-bottom: 20px;
    color: #003049;
    text-align: center;
}

#availabilityModal form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#availabilityModal label {
    margin-bottom: 5px;
    color: #003049;
    font-size: 14px;
    align-self: flex-start;
}

#availabilityModal input[type="time"],
#availabilityModal button[type="submit"] {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
}

#availabilityModal button[type="submit"] {
    background-color: #003049;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#availabilityModal button[type="submit"]:hover {
    background-color: #CF9E3E;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}



.day.selected {
    background-color: #003049; /* Azul oscuro para el día seleccionado */
    color: white; /* Letras blancas para el día seleccionado */
}

/* Estilizar el modal */
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    margin: 0 auto;
}

/* Estilos para los select */
select {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    font-size: 13px;
    color: #5c5c5c;
    transition: border-color 0.3s;
}

/* Cambiar el borde del select cuando esté enfocado */
select:focus {
    border-color: #003049;
    outline: none;
}

/* Estilo para el botón */
#availabilityModal button {
    background-color: #003049;
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border: none;
    margin-top: 20px;
}

#availabilityModal button:hover {
    background-color: #CF9E3E;
    border: none;

}

/* Aclaración debajo del formulario */
.clarification-text {
    font-size: 12px;
    color: #5c5c5c; /* Puedes cambiar el color si lo prefieres */
    margin-top: 5px;
    text-align: center;
}

/* Estilos del botón de cerrar modal */
.close {
    font-size: 30px;
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
