.nogrid .main-content * {
    display: flex !important;
}

.faqs {
    padding: 20px;
    border-radius: 10px;
}

.faqs h1 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #1e3c57;
    margin-left: 75px;
}

.faq-sections {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px; 
}

.faq-category {
    margin-bottom: 20px; 
    margin: 5%;
}

.faq-category h2 {
    text-align: center; 
    margin-bottom: 15px;
    font-size: 22px;
    color: #333;
}

.faq-category ul {
    list-style: none;
    margin: 0;
    padding: 0; 
}

.faq-category ul li {
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-category ul li:last-child {
    border-bottom: none;
}

.faq-content {
    background-color: aqua;
}

.plus-icon {
    width: 30px; 
    height: auto; 
}

.faq-answer {
    max-height: 0; 
    overflow: hidden; 
    transition: max-height 0.3s ease, opacity 0.3s ease; 
    opacity: 0; 
    background-color: #33828d; 
    padding: 10px; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(55, 40, 80, 0.1); 
}

.faq-answer.show {
    opacity: 1; 
}

@media (max-width: 768px) {
    .faqs h1 {
        font-size: 24px;
        margin-left: 20px;
    }

    .faq-sections {
        flex-direction: column;
        align-items: flex-start;
    }

    .faq-category {
        margin: 10px;
    }

    .faq-category h2 {
        font-size: 20px;
    }

    .faq-category ul li {
        font-size: 14px;
    }

    .plus-icon {
        width: 24px;
    }
}

@media (max-width: 480px) {
    .faqs h1 {
        font-size: 20px;
        margin-left: 10px;
    }

    .faq-category h2 {
        font-size: 18px;
    }

    .faq-category ul li {
        font-size: 12px;
        padding: 8px;
    }
}
