body {
    margin: 0;
    background-color: #f5f5f5;
    font-family: "Faustina", serif;
}

.welcome {
    width: 100%;
    text-align: start;
    background: url('../../img/foro.png') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 100px 20px;
    padding-left: 130px;
}

.welcome h1 {
    font-size: 2em;
    margin: 0;
}

.welcome p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.welcome input {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    margin-top: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}




.ask-question input,
.ask-question textarea,
.ask-question select,
.ask-question button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.ask-question button {
    background-color: #003049;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.ask-question button:hover {
    background-color: #003049;
}

.categories h3 {
    margin-top: 0;
}

.categories ul {
    list-style: none;
    padding: 0;
}

.categories ul li {
    margin: 5px 0;
    list-style-type: disc;
    list-style-position: inside;
}

/* Tarjetas de preguntas */
.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 tarjetas en una fila */
    gap: 20px;
    padding: 20px;
    margin-left: auto;
}

/* Tarjeta individual */
.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Perfil de usuario en la tarjeta */
.profile {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    margin-bottom: 10px;
}

.fotoperfil {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-self: start;
}

.name_user {
    font-size: 0.9rem;
    font-weight: bold;
    color: #333;
    align-self: center;
    text-align: left;
}

/* Título y descripción */
.title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #003049;
    margin-bottom: 8px;
}

.description {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 10px;
}

/* Footer de la tarjeta */
.footer {
    display: flex;
    flex-direction: column;
    gap: 3px;
    color: #666;
}

.date,
.category {
    font-size: 0.8rem;
}

/* Paginación */
.pagination {
    margin-top: 20px;
    text-align: center;
    justify-content: center;
}

.pagination .page-link {
    display: inline-block;
    padding: 8px 12px;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.pagination .page-link:hover {
    background-color: #f2f2f2;
}

.pagination .page-item.active .page-link {
    background-color: #333;
    color: white;
}




/* Contenedor de las tarjetas */
.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 tarjetas en una fila */
    gap: 20px;
    padding: 0px 20px; /* Solo padding horizontal */
    max-width: 100%; /* Ajusta el ancho */
    margin: 20px; /* Elimina el margen */
    max-height: 100%;
}





/* Contenedor de categorías */


.categories a{
    color: #003049;
}

.ver{
    color: white;
    background-color: #003049;
    border: none;
    border-radius: 5px;
    
}

/* Contenedor de "Escribe tu duda" */
.ask-question {
    width: 70%; /* Ocupa el 100% del ancho del contenedor sidebar */
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 400px;
    margin-left: 10%;
}





.toggle-button {
    background-color: transparent;
    color: #003049;
    border: none;
    cursor: pointer;
    font-size: 0.9em;
    padding: 5px;
    margin-top: 5px;
    text-decoration: underline;
    
}

.toggle-button:hover {
    color: #003049;
    text-decoration: none;
}




/* Estilos del modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 600px;
    position: relative;
    overflow-y: auto;
    max-height: 80vh;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5em;
    cursor: pointer;
    color: #333;
}

.modal-header {
    display: flex;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.modal-profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.modal-user-name {
    font-size: 1.25em;
    font-weight: bold;
    color: #333;
}

.modal-date {
    color: #888;
    font-size: 0.9em;
}

.modal-body {
    padding: 10px 0;
}

.modal-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.modal-question-content {
    font-size: 1em;
    color: #555;
    margin-bottom: 15px;
}

.modal-category {
    display: inline-block;
    background-color: #f0f0f0;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
    margin-top: 5px;
}

.modal-responses {
    border-top: 1px solid #ddd;
    padding-top: 15px;
    margin-top: 15px;
}

.modal-responses h4 {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 10px;
}

.modal-responses-content {
    max-height: 200px;
    overflow-y: auto;
}

.modal-responses-content div {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}


.post {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    max-width: 100%;
    font-family: 'Faustina', serif;
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.user-details {
    font-size: 1em;
    color: #333;
}

.response-date {
    font-weight: bold;
    font-size: 1em;
    color: #003049;
}

.post span {
    display: block;
    font-size: 1em;
    color: #555;
    line-height: 1.5;
}

.date-1 {
    display: inline-block;
    font-size: 0.9em;
    color: #888;
    margin-top: 10px;
}

/* Estilos para el modal */
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(124, 124, 124, 0.7);
    z-index: 1000;
}

.modal-content {
    background-color: #ffffff;
    padding: 30px; /* Incrementa el relleno para más espacio interior */
    border-radius: 8px;
    width: 90%;
    max-width: 800px; /* Aumenta el ancho máximo del modal */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    max-height: 85%; /* Aumenta la altura máxima del modal */
    position: relative;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-button:hover {
    color: #d9534f;
}

#modal-title {
    font-size: 26px; /* Aumenta el tamaño del título */
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
}

#modal-content {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    margin-bottom: 25px;
}

#modal-date {
    font-size: 14px;
    color: #888;
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

/* Estilos para las respuestas */
.post {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
}


.new-answer-section {
    margin-top: 20px;
    padding: 15px;
    background-color: #f1f1f1;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.new-answer-section h4 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

#new-answer {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    color: white;
    resize: vertical; /* Permite ajustar el tamaño verticalmente */
    min-height: 80px;
    margin-bottom: 10px;
}

.new-answer-section button {
    background-color: #003049;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.new-answer-section button:hover {
    background-color: #044b72;
}






  
  

  
 
  /* Estilos del modal */
  .task-modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1001;
  }
  
  .task-modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .task-modal-content textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .task-modal-close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #002535;
    margin-right: 20px;
  }
  
  .submit-btn {
    background-color: #1877f2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #155bca;
  }
  




.container {
    display: grid;
    grid-template-areas:
      "sidebar header"
      "sidebar main-content";
    grid-template-columns: 250px 1fr;
    grid-template-rows: 50px 1fr;
    width: 100%;
    max-width: none; /* Sobrescribe cualquier límite de ancho */
    margin: 0; /* Elimina márgenes si los hay */
    padding: 0;
    max-height: none; /* Sobrescribe cualquier límite de ancho */

  }
  
 










.container {
    display: grid;
    grid-template-areas:
      "sidebar header"
      "sidebar main-content";
    grid-template-columns: 430px 1fr; /* Sidebar más ancho */
    grid-template-rows: 60px 1fr; /* Header ligeramente más alto */
    width: 100%;
    max-width: none; /* Sobrescribe cualquier límite de ancho */
    margin: 0;
    padding: 0;
    max-height: none; /* Sobrescribe cualquier límite de ancho */

}

.sidebar {
    grid-area: sidebar;
    background-color: #003049;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;

}








.main-content {
    grid-area: main-content;
    display: block; /* Mantener las tarjetas tal como están */
    background-color: #f5f7fa;
    padding: 20px; /* Espaciado interno */
}





.horizontal-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    height: 100px; /* Reducir la altura */
    width: 100%; /* Reducir el ancho relativo */
    box-sizing: border-box;
}

.horizontal-card-image {
    object-fit: cover;
    width: 30%; /* Imagen ocupa un 30% del ancho */
    height: 100%; /* Ajustar altura al 100% del contenedor */
}

.horizontal-card-content {
    padding: 10x; /* Reducir el padding */
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.horizontal-card-title {
    font-size: 1em; /* Reducir el tamaño del título */
    color: #333;
    margin-bottom: 5px; /* Reducir margen inferior */
}


/* ----------- Sección "Nuestras Informaciones" ----------- */
.conteiner-infos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    padding: 10px;
    background: #ffffff; /* Fondo claro */
    border-radius: 7px;
    padding-top: 5px;
    margin-top: 50px;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;

}

.conteiner-infos h3{
  justify-content: center;
}


/* Estilo principal de las tarjetas */
.horizontal-card {
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 7px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding-right: 10px;
    border-color: #003049;
}

.horizontal-card:hover {
    cursor: pointer;
    transform: translateY(-4px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

/* Imagen como un pequeño cuadro a la izquierda */
.horizontal-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    flex-shrink: 0; /* Evita que la imagen se redimensione al reducir la tarjeta */
    border: 2px solid #e0e0e0;
}

/* Contenido de la tarjeta */
.horizontal-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    flex-grow: 1;
    overflow: hidden;
}

/* Título */
.horizontal-card-title {
    font-size: 1em; /* Tamaño más grande para destacar */
    font-weight: bold;
    color: #2b2b2b;
    margin: 0;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Puntos suspensivos si el título es largo */
}

/* Descripción */
.horizontal-card-description {
    font-size: 0.8em; /* Tamaño más grande para facilitar la lectura */
    line-height: 1;
    color: #555;
    margin: 0;
    text-align: justify;
    max-height: 3.2em; /* Limita la descripción a dos líneas */
    overflow: hidden;
    text-overflow: ellipsis; /* Puntos suspensivos si el texto es largo */
}

.horizontal-card:hover .horizontal-card-description {
    color: #333;
}

/* ----------- Estilos Responsivos ----------- */
@media (max-width: 768px) {
    .horizontal-card {
        flex-direction: column; /* Cambia el diseño a vertical */
        align-items: flex-start;
    }

    .horizontal-card img {
        width: 80px;
        height: 80px;
    }

    .horizontal-card-content {
        align-items: flex-start;
        gap: 8px;
    }

    .horizontal-card-title {
        font-size: 1.3em; /* Tamaño más pequeño en dispositivos pequeños */
    }

    .horizontal-card-description {
        font-size: 1em; /* Ajuste para mejor visualización en pantallas pequeñas */
    }
}

/* ----------- Sección .header ----------- */
.header {
    background: linear-gradient(90deg, #003049, #003049);
    display: grid;
    grid-template-columns:  auto  auto 1fr auto;
    align-items: center;
    gap: 20px;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;


}

.filter-bar {
    display: contents; /* Integra los elementos directamente en el grid del contenedor padre */
}

.filter-bar label {
    font-size: 1em;
    color: #fff;
    text-align: right;
}

.category-dropdown {
    border-radius: 7px;
    border: none;
    outline: none;
    background: #fff;
    color: #333;
    font-size: 12px;
    border-radius: 9px;
    width: 150px;
    height: 30px;
}

.searcha-bar {
    margin-left: 30px;

    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    width: 90%;
    height: 25;

}

.searcha-bar input {
    border: none;
    outline: none;
    border-radius: 15px 0 0 15px;
    padding: 8px;
    width: 100%;
    height: 25px;

}

.searcha-bar button {
    border: none;
    border-radius: 0 15px 15px 0;
    background: #fff;
    color: #003049;
    cursor: pointer;
    height: 25px;
    align-items: center;
}

.create-post-btn{
    display: contents; /* Integra los elementos directamente en el grid del contenedor padre */

}

header button.create-post-btns {
    background-color: #ffffff;
    color: black;
    font-size: 12px; /* Tamaño más pequeño */
    border-radius: 9px;
    width: 120px;
    height: 30px;
    border: none;
    cursor: pointer;
    grid-template-columns: 1fr auto;

}

header button.create-post-btns:hover {
    background-color: #155bca;
    color: white;
}


/* ----------- Estilos Responsivos ----------- */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .filter-bar,
    .search-foro,
    .create-post-btn {
        width: 100%;
        margin-top: 10px;
    }

    .conteiner-infos {
        grid-template-columns: 1fr;
    }
}


.ask-question {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin: 10% auto;
    padding: 20px;
}

.ask-question h3 {
    margin-top: 0;
}

.ask-question input,
.ask-question textarea,
.ask-question select,
.ask-question button {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.ask-question textarea {
    height: 100px;
    resize: none;
}

.ask-question select {
    background-color: white;
}

.ask-question button {
    background-color: #003049;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.ask-question button:hover {
    background-color: #002535;
}
