.container {
  margin-top: 3rem !important;
  margin-bottom: 4rem !important;
  display: flex;
  width: 90%;
  max-width: 1200px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
  margin: auto;
  height: 100%;
}
.sidebar {
  position: sticky;
  top: 20px;
  width: 300px;
  background-color: #ffffff;
  padding: 40px;
  height: auto;
  overflow-y: auto;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.titulo {
  font-weight: 700;
  margin-bottom: 2.5rem;
}

.titulo i {
  padding-right: 1rem;
}

.sidebar ul li i {
  padding-bottom: 1rem;
  padding-right: 1.5rem;
}

#cerrarSesion {
  margin-top: 14rem;
}

.sidebar ul li a:hover {
  color: #00a8ff;
}

hr {
  height: 70vh;
  width: 0.1vw;
  left: 25%;
  top: 23%;
  position: absolute;
  border-width: 0;
  color: #e9e9e9;
  background-color: #e9e9e9;
  position: initial;
}

.notifications {
  width: 70%;
  padding: 20px;
  box-sizing: border-box;
  height: auto;
}

.contenido {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}


.notification-list {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.notification-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user-info p {
    margin: 0;
}

.actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.actions a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.actions a:hover {
    text-decoration: underline;
}

.actions .date {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 15px;
}

.load-more {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.load-more button {
    background-color: #003049;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}

.load-more button:hover {
    background-color: #003049;
}

.content .section {
  display: none;
}

.content .section.active {
  display: block;
}
